.spacer {
  flex: 1 1 auto;
}

h1 {
  font-size: 25px;
}

.menu {
  margin-left: 40px;
  font-size: 16px;
  display: flex;
  height: 100%;
  width: 300px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);

  a {
    line-height: 65px;
    cursor: pointer;
    text-decoration: none;

    &:visited {
      color: white;
    }

    &:first-child {
      width: 120px;
    }

    &:last-child {
      width: 180px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
