<div class="sign-up-section">
  <h3>Sign Up</h3>
  <form
    class="sign-up-section__form"
    [formGroup]="signUpFormGroup"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <mat-label>Email:</mat-label>
      <input matInput type="text" formControlName="email" required />
      <mat-error *ngIf="this.signUpFormGroup.controls.email.invalid">{{
        displayErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password:</mat-label>
      <input
        matInput
        type="password"
        autocomplete="off"
        formControlName="password"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm password:</mat-label>
      <input
        matInput
        type="password"
        autocomplete="off"
        formControlName="confirmPassword"
        required
      />
    </mat-form-field>
    <button
      mat-stroked-button
      type="submit"
      [disabled]="!signUpFormGroup.valid"
    >
      Sign Up
    </button>
  </form>
</div>
