:host {
  height: 100%;
  width: 100%;
}

.tasks {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 600px;

    .create-task-btn {
      margin-bottom: 10px;
    }
  }
}

/* Columns' styles */
.mat-column-id {
  max-width: 64px;
}

.mat-column-isCompleted {
  justify-content: center;
}

.mat-column-delete {
  justify-content: center;
  max-width: 80px;
}
