:host {
  height: 100%;
  width: 100%;
}

.tasks {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 45%;

    .create-task-btn {
      margin-bottom: 10px;
    }
  }
}
